<div class="container num1">
  <div class="loginRegister">
    <h1 class="whiteWord">Log in</h1>
    <div class="box1">
      <input type="text" id="usename"  class="form-control child1" placeholder="Usename"/>
      <input type="text" id="password" class="form-control child1" placeholder="Password"/>
      <div class="fogotPassword"><a href="">Fogot password?</a></div>
      <button type="submit" class=" login btn btn-primary">L o g i n</button>
      <div class="signup">Not a member?<a href=""> Signup</a> </div>
    </div>
  </div>
</div>

