<div class="container num1">
  <div class="loginRegister">
    <h1 class="whiteWord">Register</h1>
    <div class=" box1">
      <form class="needs-validation">
        <input type="email" class="form-control child1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
        <div class="row child1">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
        </div>
        <input type="text" id="usename"  class="form-control child1" placeholder="Usename"/>
        <input type="text" id="password" class="form-control child1" placeholder="Password"/>
        <input type="text" id="reTypePassword" class="form-control child1" placeholder="Re-type Password"/>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label whiteWord" for="flexCheckDefault">
            I agree with terms and conditions
          </label>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
        <div class="loginHere">Already a member? <a href=""> Login here>>></a> </div>
      </form>
    </div>
  </div>

</div>
